[Unit]
Description=Gunicorn daemon for ROTOM Ethiopia Django project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/rotom
Environment="PATH=/var/www/rotom/venv/bin"
EnvironmentFile=/var/www/rotom/.env
ExecStart=/var/www/rotom/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/var/www/rotom/gunicorn.sock \
          --timeout 120 \
          --access-logfile /var/log/gunicorn/access.log \
          --error-logfile /var/log/gunicorn/error.log \
          REACHONEETH.wsgi:application

[Install]
WantedBy=multi-user.target
